<section class="content">
    <div class="container-fluid">
      
      <!-- Timelime example  -->
      <div class="row">
          <!--section 1 starts here-->
        <div class="col-md-3">



            <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Partner Portal update</h5>
  
                  <div class="card-tools">
                    
                    <div class="btn-group">
                     <div class="action">...</div>
                      <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(46px, 19px, 0px);">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                        <a class="dropdown-divider"></a>
                        <a href="#" class="dropdown-item">Separated link</a>
                      </div>
                    </div>
                  
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                  
                    <div class="col-md-12">
                      
  
                      <div class="progress-group">
                        Sep 18, 2020
                        <span class="float-right">Showing 12 of 12</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" style="background-color:#9acd56;width: 10%"></div>
                          <div class="progress-bar bg-primary" style="width: 70%"></div>
                        </div>
                        Capacity
                        <span class="float-right">50d</span>
                      </div>
                      <!-- /.progress-group -->
  
                    
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- ./card-body -->
             
              </div>


















          <!-- The time line -->
          <div class="timeline">
            <!-- timeline time label -->
        
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
         
              <div class="timeline-item bgorange">
                <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
                <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>
  
                <span class="time"> New</span>
                <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
                <div class="timeline-body">
                 Reading to develop
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-sm">Profile</a>
                  <a class="btn btn-danger btn-sm">Notifications</a>
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
             
            
            </div>
            <!-- END timeline item -->
        
            <!-- /.timeline-label -->
            <!-- timeline item -->
        
      
          </div>
  <!-- The time line ends here -->



  <div class="timeline ">
    <!-- timeline time label -->

    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
 
      <div class="timeline-item bgblue">
        <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
        <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

        <span class="time"> New</span>
        <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
        <div class="timeline-body">
         Reading to develop
        </div>
       
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
     
    
    </div>
    <!-- END timeline item -->

    <!-- /.timeline-label -->
    <!-- timeline item -->


  </div>
<!-- The time line ends here -->


<div class="timeline">
    <!-- timeline time label -->

    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
 
      <div class="timeline-item  bgorange">
        <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
        <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

        <span class="time"> New</span>
        <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
        <div class="timeline-body">
         Reading to develop
        </div>
        <div class="timeline-footer">
          <a class="btn btn-primary btn-red btn-sm">Download</a>
       </div>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
     
    
    </div>
    <!-- END timeline item -->

    <!-- /.timeline-label -->
    <!-- timeline item -->


  </div>
<!-- The time line ends here -->



<div class="timeline">
    <!-- timeline time label -->

    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
 
      <div class="timeline-item  bgyellow">
        <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
        <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

        <span class="time"> New</span>
        <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
        <div class="timeline-body">
         Reading to develop
        </div>
        <div class="timeline-footer">
          <a class="btn btn-primary btn-green btn-sm">MarketPlace</a>
          <a class="btn btn-danger btn-red btn-sm">MTN</a>
        </div>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
     
    
    </div>
    <!-- END timeline item -->

    <!-- /.timeline-label -->
    <!-- timeline item -->


  </div>
<!-- The time line ends here -->



<div class="timeline">
    <!-- timeline time label -->

    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
 
      <div class="timeline-item bggreen">
        <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
        <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

        <span class="time"> New</span>
        <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
        <div class="timeline-body">
         Reading to develop
        </div>
        <div class="timeline-footer">
          <a class="btn btn-primary btn-sm">Profile</a>
          <a class="btn btn-danger btn-sm">Notifications</a>
        </div>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
     
    
    </div>
    <!-- END timeline item -->

    <!-- /.timeline-label -->
    <!-- timeline item -->


  </div>
<!-- The time line ends here -->



        </div>
        <!-- /.section 1 ends here -->



    <!--section 2 starts here-->
    <div class="col-md-3">



      <div class="card">
          <div class="card-header">
            <h5 class="card-title">Partner Portal update</h5>

            <div class="card-tools">
              
              <div class="btn-group">
               <div class="action">...</div>
                <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(46px, 19px, 0px);">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>
                  <a href="#" class="dropdown-item">Something else here</a>
                  <a class="dropdown-divider"></a>
                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
            
              <div class="col-md-12">
                

                <div class="progress-group">
                  Sep 18, 2020
                  <span class="float-right">Showing 12 of 12</span>
                  <div class="progress progress-sm">
                      <div class="progress-bar" style="background-color:#9acd56;width: 10%"></div>
                    <div class="progress-bar bg-primary" style="width: 70%"></div>
                  </div>
                  Capacity
                  <span class="float-right">50d</span>
                </div>
                <!-- /.progress-group -->

              
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
       
        </div>


















    <!-- The time line -->
    <div class="timeline">
      <!-- timeline time label -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
   
        <div class="timeline-item bgorange">
          <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
          <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

          <span class="time"> New</span>
          <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
          <div class="timeline-body">
           Reading to develop
          </div>
          <div class="timeline-footer">
            <a class="btn btn-primary btn-sm">Profile</a>
            <a class="btn btn-danger btn-sm">Notifications</a>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      <!-- timeline item -->
      <div>
       
      
      </div>
      <!-- END timeline item -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
  

    </div>
<!-- The time line ends here -->



<div class="timeline ">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bgblue">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
 
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->


<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgorange">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-red btn-sm">Download</a>
 </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgyellow">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-green btn-sm">MarketPlace</a>
    <a class="btn btn-danger btn-red btn-sm">MTN</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bggreen">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-sm">Profile</a>
    <a class="btn btn-danger btn-sm">Notifications</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



  </div>
   
    <!-- /.section 2 ends here -->



    
    <!--section 3 starts here-->
    <div class="col-md-3">



      <div class="card">
          <div class="card-header">
            <h5 class="card-title">Partner Portal update</h5>

            <div class="card-tools">
              
              <div class="btn-group">
               <div class="action">...</div>
                <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(46px, 19px, 0px);">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>
                  <a href="#" class="dropdown-item">Something else here</a>
                  <a class="dropdown-divider"></a>
                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
            
              <div class="col-md-12">
                

                <div class="progress-group">
                  Sep 18, 2020
                  <span class="float-right">Showing 12 of 12</span>
                  <div class="progress progress-sm">
                      <div class="progress-bar" style="background-color:#9acd56;width: 10%"></div>
                    <div class="progress-bar bg-primary" style="width: 70%"></div>
                  </div>
                  Capacity
                  <span class="float-right">50d</span>
                </div>
                <!-- /.progress-group -->

              
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
       
        </div>


















    <!-- The time line -->
    <div class="timeline">
      <!-- timeline time label -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
   
        <div class="timeline-item bgorange">
          <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
          <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

          <span class="time"> New</span>
          <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
          <div class="timeline-body">
           Reading to develop
          </div>
          <div class="timeline-footer">
            <a class="btn btn-primary btn-sm">Profile</a>
            <a class="btn btn-danger btn-sm">Notifications</a>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      <!-- timeline item -->
      <div>
       
      
      </div>
      <!-- END timeline item -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
  

    </div>
<!-- The time line ends here -->



<div class="timeline ">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bgblue">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
 
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->


<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgorange">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-red btn-sm">Download</a>
 </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgyellow">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-green btn-sm">MarketPlace</a>
    <a class="btn btn-danger btn-red btn-sm">MTN</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bggreen">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-sm">Profile</a>
    <a class="btn btn-danger btn-sm">Notifications</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



  </div>
   
    <!-- /.section 3 ends here -->




    
    <!--section 4 starts here-->
    <div class="col-md-3">



      <div class="card">
          <div class="card-header">
            <h5 class="card-title">Partner Portal update</h5>

            <div class="card-tools">
              
              <div class="btn-group">
               <div class="action">...</div>
                <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(46px, 19px, 0px);">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>
                  <a href="#" class="dropdown-item">Something else here</a>
                  <a class="dropdown-divider"></a>
                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
            
              <div class="col-md-12">
                

                <div class="progress-group">
                  Sep 18, 2020
                  <span class="float-right">Showing 12 of 12</span>
                  <div class="progress progress-sm">
                      <div class="progress-bar" style="background-color:#9acd56;width: 10%"></div>
                    <div class="progress-bar bg-primary" style="width: 70%"></div>
                  </div>
                  Capacity
                  <span class="float-right">50d</span>
                </div>
                <!-- /.progress-group -->

              
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
       
        </div>


















    <!-- The time line -->
    <div class="timeline">
      <!-- timeline time label -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
      <div>
   
        <div class="timeline-item bgorange">
          <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
          <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

          <span class="time"> New</span>
          <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
          <div class="timeline-body">
           Reading to develop
          </div>
          <div class="timeline-footer">
            <a class="btn btn-primary btn-sm">Profile</a>
            <a class="btn btn-danger btn-sm">Notifications</a>
          </div>
        </div>
      </div>
      <!-- END timeline item -->
      <!-- timeline item -->
      <div>
       
      
      </div>
      <!-- END timeline item -->
  
      <!-- /.timeline-label -->
      <!-- timeline item -->
  

    </div>
<!-- The time line ends here -->



<div class="timeline ">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bgblue">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
 
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->


<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgorange">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-red btn-sm">Download</a>
 </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item  bgyellow">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-green btn-sm">MarketPlace</a>
    <a class="btn btn-danger btn-red btn-sm">MTN</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



<div class="timeline">
<!-- timeline time label -->

<!-- /.timeline-label -->
<!-- timeline item -->
<div>

<div class="timeline-item bggreen">
  <span class="time"><i aria-hidden="true" class="fa fa-users"></i><span class="number">15</span><i class="fas fa-clock"></i> 4d</span>
  <h3 class="timeline-header"><a href="#"> <img class="img-size-50 img-circle mr-03 ng-star-inserted" src="assets/img/user1-128x128.jpg" alt="john">FRED -123 </a> </h3>

  <span class="time"> New</span>
  <h3 class="timeline-header colorblue"><a href="#">Signup page </a> </h3>
  <div class="timeline-body">
   Reading to develop
  </div>
  <div class="timeline-footer">
    <a class="btn btn-primary btn-sm">Profile</a>
    <a class="btn btn-danger btn-sm">Notifications</a>
  </div>
</div>
</div>
<!-- END timeline item -->
<!-- timeline item -->
<div>


</div>
<!-- END timeline item -->

<!-- /.timeline-label -->
<!-- timeline item -->


</div>
<!-- The time line ends here -->



  </div>
   
    <!-- /.section 3 ends here -->








      </div>
    </div>
    <!-- /.timeline -->
  
  </section>
